@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Baloo+Bhai+2&family=DynaPuff&family=Finger+Paint&family=Monoton&family=Roboto:wght@300&family=Silkscreen:wght@700&family=Splash&display=swap");
@keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    }
    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

body {
    background-image: url("../images/back.jpg");
    background-size: 100vw;
}

.navbar {
    height: 58px;
    width: 100vw;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Silkscreen", cursive;
    font-size: 39px;
    color: #fff;
    /* opacity: 0.6; */
    font-weight: bolder;
}

.box1 {
    /* border: solid 1px green; */
    color: black;
    height: 655px;
    width: 600px;
    margin: auto;
    margin-top: 70px;
    border-radius: 35px;
    background-color: transparent;
    /* box-shadow: 0px 4px 8px 0 rgb(17 141 232), 0px 11px 20px 0px rgb(17 141 232); */
    transition: box-shadow 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box1 img {
    height: 30px;
    width: 30px;
    margin-top: 67px;
    margin-bottom: -25px;
}

.box2 .para1 img {
    height: 100px;
    width: 100px;
    margin-left: 62px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.box2 .para2 {
    font-family: "Silkscreen", cursive;
    color: white;
    margin: auto;
}

.box2 {
    border: dashed white 5px;
    padding: 132px 150px 164px 150px;
    margin-bottom: -40px;
    margin-top: 22px;
    border-radius: 36px;
}

.box3 {
    margin-top: 81px;
    margin-bottom: -118px;
    font-size: x-large;
    font-family: "Silkscreen", cursive;
    color: white;
}

.box3 img {
    size: 2px;
}

a {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    margin-top: 150px;
    margin-bottom: -85px;
    transition: 1s;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 60px var(--clr), 0 0 100px var(--clr);
}

a:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 400%;
    background: var(--clr);
    transition: 1s;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.33s * var(--1));
}

a:hover:before {
    width: 120%;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

a:after {
    content: "";
    position: absolute;
    inset: 4px;
    background: #0e1538;
}

a:hover:after {
    background: var(--clr);
}

a span {
    position: relative;
    z-index: 1;
    font-size: 30px;
    color: #fff;
    opacity: 0.5;
    letter-spacing: 5px;
    transition: 0.5s;
    padding: 10px;
    font-family: "Baloo Bhai 2", cursive;
}

a:hover span {
    opacity: 1;
}